.category__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.category__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.category__alert--danger ul {
    margin: 0;
}






.category__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}



.category-table {
    margin: 30px auto;
    width: 70%;
    text-align: center;
}

.category-table__inner {
    width: 100%;
}

.category-table__row {
    border-bottom: 1px solid #ddd;
}

.category-table__header {
    padding: 12px;
    width: 20%;
    text-align: left;
    font-weight: bold;
}

.category-table__header-span {
    margin-right: 40%;
}

.category-table__item:first-of-type {
    padding: 12px;
    width: 90%;
}

