.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}





.create-form,
.search-form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 70%;
    text-align: center;
}

.create-form__item,
.search-form__item {
    display: flex;
    width: 70%;
}

.create-form__item-input,
.search-form__item-input {
    margin-right: 10px;
    padding: 10px;
    width: 70%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.create-form__item-select,
.search-form__item-select {
    padding: 10px;
    width: 30%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.create-form__button,
.search-form__button {
    width: 20%;
}

.create-form__button-submit,
.search-form__button-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}



.update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form__item {
    width: 40%;
    line-height: 50%;
}

.update-form__item-input {
    width: 100%;
    outline: none;
    border: none;
}

.update-form__item-p {
    text-align: left;
    font-size: 13px;
}

.update-form__button {
    width: 50px;
}

.update-form__button-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #0000ff;
    color: #fff;
    cursor: pointer;
}

.delete-form__button {
    width: 50px;
}

.delete-form__button-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
}